body {
    background-color: rgb(232, 233, 235);
    text-align: center;
}

.container {
    background: rgb(224, 225, 228);
    border-radius: 15px 15px 15px 15px;
    padding: 20px 32px 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.titleDiv{
    margin-top: 10px;
    margin-bottom: 20px;
}

.titleDiv .image{
    
    width: 400px;
    margin-top: 10px;
}
.form{
    background-color: whitesmoke;
}

@media only screen and (max-width: 770px) {
    .container {
      margin: 0 10%;
    }
  
    .image {
      width: 100%;
    }
  }